{% extends 'base.html.twig' %}

{% block title %}Nos spectacles{% endblock %}

{% block body %}
    <div class="card mb-4" style="max-width: 740px;">
        <div class="row no-gutters justify-content-center">
            <div class="col-md-8">
                <img src="/images/blue_woman.jpg" class="card-img" alt="La femme bleue">
            </div>
            <div class="col-md-16">
                <div class="card-body">
                    <h5 class="card-title">La femme bleue</h5>
                    <p class="card-text">La femme bleue appelée également la schtroumphette est une acrobate hors-paire qui est capable de se contortionner dans tous les sens. Elle a rejoint notre équipe en 2015 lors de notre tout premier spectacle Lumière.</p>
                    <p class="card-text"><small class="text-muted">Ce que vous ne saviez pas sur elle : elle adore le chocolat et n'aime pas les pieds.</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4" style="max-width: 740px;">
        <div class="row no-gutters justify-content-center">
            <div class="col-md-8">
                <img src="/images/cerceau_man.jpg" class="card-img" alt="Le cerceau man">
            </div>
            <div class="col-md-16">
                <div class="card-body">
                    <h5 class="card-title">Le cerceau man</h5>
                    <p class="card-text">Le cerceau man est incroyable car il ne se déplace jamais sans ses cerceaux, le voir bouger et danser entouré de cerceaux est très impressionnant.</p>
                    <p class="card-text"><small class="text-muted">Ce que vous ne saviez pas sur lui : il adore les souris et n'aime pas les objets circulaires (??!!).</small></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
