{% extends 'base.html.twig' %}

{% block title %}Nouveau membre de l'équipe{% endblock %}

{% block body %}
    <h1 class="titleH1">Ajouter un nouveau membre à l'équipe</h1>

    {{ include('team/_form.html.twig') }}

    <a href="{{ path('team_index') }}"><button class="btn btn-md btn-light">Retour à la liste</button></a>
{% endblock %}
