{% extends 'base.html.twig' %}

{% block title %}Nouveau spectacle{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau spectacle</h1>

    {{ include('spectacle/_form.html.twig') }}

    <a href="{{ path('spectacle_index') }}"><button class="btn btn-md btn-light">Retour à la liste</button></a>
{% endblock %}
