@import "~bootstrap/scss/bootstrap";
@import "_variables.scss";
body {
    background-image:url(../../public/images/image_fond.jpg);
}

@mixin title {
    font-family: 'Berkshire Swash', cursive;
    color: $orange;
}

nav{
    background-color: $black;
    margin: auto;
}

nav>a {
    padding: 10px;
    text-align: center;
}
#connexion{
    margin-right: 0;
}
.nav-link{
@include title;
    font-size: 1.5em;
    vertical-align: bottom;
}
.dropdown-item{
    font-family: 'Berkshire Swash', cursive;
    color: $orange;
    background-color: $black;
    font-size: 1.2em;
}
.dropdown-menu{
    background-color: $black;
    border: 1px solid $orange
}

.bigtitle {
@include title;
    font-size: 3em;
}

#carouselExampleCaptions{
    margin-bottom: 40px;
}

.titleH1{
    font-size: 1.8em;
    font-family: 'Miltonian Tattoo', cursive;
    color: $light_color;
    margin: 20px;
}

.container-form{
    background-color: $light_color;
    width: 390px;
    height: 350px;
    margin: 30px 50px;
    padding-left: 30px;
    input{
        width: 300px;
    }
}
.table{
    color: $light_color;
    font-size: 1.8em;
    font-family: 'Federant', cursive;
    margin: 20px;
}

.text-table {
    font-size: 1.2em;
    font-family: 'Federant', cursive;
    color: $light_color;
    margin: 30px;
}
#profile {
    color: $light_orange;
    font-size: 1.4em;
    font-family: 'Federant', cursive;
    margin: 10px;
}

.text_profile{
    color: $light_orange;
    font-size: 1.2em;
    font-family: 'Federant', cursive;
    margin-left: 40px;
}

.connect {
    display: inline-flex;
    margin-left: 150px;
}

.card {
    display: inline-flex;
    margin: auto;
}
.team_container {
    margin: auto;
    display: flex;
    margin-top: 100px;
}
#admin_link {
    color: $light_orange;
    font-size: 1em;
    font-family: 'Federant', cursive;
}
