{% extends 'base.html.twig' %}

{% block title %}Ajouter une actu{% endblock %}

{% block body %}
    <h1 class="titleH1">Ajouter une actu</h1>

    {{ include('news/_form.html.twig') }}

    <a href="{{ path('news_index') }}"><button class="btn btn-md btn-light">Retour à la liste</button></a>
{% endblock %}
